@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 12px;
}
body {
  background-color: #F3F5F7;
  font-family: 'Jost', sans-serif;
}
.container {
  background-color: #fff;
  margin: 30px auto;
  width: 1000px;
  overflow: hidden;
  overflow-x:auto;
}
.box {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  -moz-text-align-last: center;
  text-align-last: center;
   span {
    display: block;
   }

}
.dateWrap {
  display: flex;
  font-size: 0.8rem;
}
.container > section {
  display: flex;
  position: relative;
}
.title {
  position: absolute;
  top:-20px
}
.leftBlock, .rightBlock {
  width: 50%;
}
.mentorList {
  width:100%;
  border-top: 1px solid #F3F5F7;
  article {
    display: flex;
    border-bottom: 2px solid #F3F5F7;
    padding: 0.5rem;
    padding-left: 1rem;
  }
}
