@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 12px;
}
body {
  background-color: #F3F5F7;
  font-family: 'Jost', sans-serif;
}
.container {
  background-color: #fff;
  margin: 30px auto;
  width: 90%;
  overflow: hidden;
  overflow-x:auto;
  max-width: 1000px;
}
.box {
  width: 3rem;
  height: 4rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}
.box span {
  display: block;
}
.dateWrap {
  display: flex;
  font-size: 0.7rem;
}
.container > section {
  display: flex;
  position: relative;
}
.title {
  position: absolute;
  top:-20px
}
.leftBlock, .rightBlock {
  width: 50%;
}
.mentorList {
  width:100%;
}
.mentorList article {
  display: flex;
}